HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/store-demo-account1/mvnw
/store-demo-account1/mvnw.cmd
/store-demo-account1/.mvn/
/store-demo-order1/.gitignore
/store-demo-order1/mvnw
/store-demo-order1/mvnw.cmd
/store-demo-order1/test.log
/store-demo-order1/.mvn/
/store-demo-fulfillment1/target/
/store-demo-fulfillment1/.gitignore
/store-demo-fulfillment1/mvnw
/store-demo-fulfillment1/mvnw.cmd
/store-demo-fulfillment1/.mvn/
/docker/X_docker-compose-store-demo-services-all.yml
/docker/Ref_docker-compose-middleware-All.yml-4-ref
/docker/accounts7.log
/docker/Accounts-Logs/
/doc/my-draw-io/.$store-demo-flow-1.drawio.bkp
/doc/my-draw-io/.$store-demo-flow-1.png.bkp
/doc/my-draw-io/.$Store-Demo-StatusDiagram-1.png.bkp
/doc/my-draw-io/Store-Demo-ActiveDiagram-1
/doc/my-draw-io/Store-Demo-ActiveDiagram-1.dwawio
/doc/my-draw-io/Store-Demo-ActiveDiagram-1bak
/doc/my-draw-io/store-demo-flow-1
/doc/my-draw-io/store-demo-flow-1.drawio
/doc/my-draw-io/Store-Demo-Order-lifecycle-AD-2
